.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-bottom: 2px solid #eee;
}

.menuBar {
  width: 35px;
  height: 25px;
  display: none;
  cursor: pointer;
}
.menubarImage {
  width: 100%;
  height: 100%;
}

.title {
  display: inline;
  margin: 25px;
  color: #264653;
  cursor: pointer;
  text-decoration: none;
}

.activeBtn {
  display: none;
}

.active {
  border-bottom: 2px solid green;
}

.navlinks {
  margin: 25px;
}

.navbarLi {
  margin: 0 10px;
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .adminNavbarLi {
    display: none;
  }
  .navlinks {
    display: none;
  }

  .menuBar {
    width: 35px;
    height: 25px;
    display: block;
  }
  .menubarImage {
    width: 100%;
    height: 100%;
  }
}
