* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
}

.foo {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.linkdiss {
  text-decoration: none;
  color: whitesmoke;
}

.box1 {
  width: 100vw;
  height: auto;
  margin: auto;
  display: flex;
}

.searchForms {
  width: 90vw;
  height: auto;
  margin: auto;
}

.centered {
  margin: 30px 0;
  text-align: center;
}
