* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
}
html,
body {
  height: 100%;
  font-family: "Recursive", sans-serif;
}

.centered {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m10 {
  margin: 10px;
}
